*{ margin:0;
padding: 4px;
box-sizing: border-box;
font-family: Montserrat; }

/*This is the nav style for the Project page*/
.nav_menu_proj {background-color: #d3273e;
	border-radius: 6px; }

.nav_menu_proj ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center; }

.nav_menu_proj ul li {
	list-style: none;
	padding: 4px;
	position: relative;
	transition: 0.5s;
	display: block; }

.nav_menu_proj ul li a {
	color: white;
	text-decoration: none;
	padding: 5px 10px; }

.nav_menu_proj ul li a:hover {
	background-color: brown;
	border-radius: 6px; }

.nav_menu_proj ul li ul {
	display: none; }

.nav_menu_proj ul li:hover ul {
  display: block;
  position: absolute;
  margin-top: 5px;
  background: #d3273e;
  border-radius: 6px;
  width: 100%;
  padding: 10px 2px;
  box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.5); }

/*This is the nav style for the Reflections page*/
.nav_menu_refl {background-color: orange;
	border-radius: 6px; }

.nav_menu_refl ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center; }

.nav_menu_refl ul li {
	list-style: none;
	padding: 4px;
	position: relative;
	transition: 0.5s;
	display: block; }

.nav_menu_refl ul li a {
	color: white;
	text-decoration: none;
	padding: 5px 10px; }

.nav_menu_refl ul li a:hover {
	background-color: brown;
	border-radius: 6px; }

.nav_menu_refl ul li ul {
	display: none; }

.nav_menu_refl ul li:hover ul {
  display: block;
  position: absolute;
  margin-top: 5px;
  background: orange;
  border-radius: 6px;
  width: 100%;
  padding: 10px 2px;
  box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.5); }

  /*This is the nav style for the About page*/
  .nav_menu_about {	background-color: blue;
	border-radius: 6px; }

.nav_menu_about ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center; }

.nav_menu_about ul li {
	list-style: none;
	padding: 4px;
	position: relative;
	transition: 0.5s;
	display: block; }

.nav_menu_about ul li a {
	color: white;
	text-decoration: none;
	padding: 5px 10px; }

.nav_menu_about ul li a:hover {
	background-color: brown;
	border-radius: 6px; }

.nav_menu_about ul li ul {
	display: none; }

.nav_menu_about ul li:hover ul {
  display: block;
  position: absolute;
  margin-top: 5px;
  background: blue;
  border-radius: 6px;
  width: 100%;
  padding: 10px 2px;
  box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.5); }

  /*This is the nav style for the Home page*/
.nav_menu_home {background-color: #702963;
	border-radius: 6px; }

.nav_menu_home ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center; }

.nav_menu_home ul li {
	list-style: none;
	padding: 4px;
	position: relative;
	transition: 0.5s;
	display: block; }

.nav_menu_home ul li a {
	color: white;
	text-decoration: none;
	padding: 5px 10px; }

.nav_menu_home ul li a:hover {
	background-color: brown;
	border-radius: 6px; }

.nav_menu_home ul li ul {
	display: none; }

.nav_menu_home ul li:hover ul {
  display: block;
  position: absolute;
  margin-top: 5px;
  background: #702963;
  border-radius: 6px;
  width: 100%;
  padding: 10px 2px;
  box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.5); }

   /*This is the nav style for the Contact page*/
   .nav_menu_cont {	background-color: green;
	border-radius: 6px; }

.nav_menu_cont ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center; }

.nav_menu_cont ul li {
	list-style: none;
	padding: 4px;
	position: relative;
	transition: 0.5s;
	display: block; }

.nav_menu_cont ul li a {
	color: white;
	text-decoration: none;
	padding: 5px 10px; }

.nav_menu_cont ul li a:hover {
	background-color: brown;
	border-radius: 6px; }

.nav_menu_cont ul li ul {
	display: none; }

.nav_menu_cont ul li:hover ul {
  display: block;
  position: absolute;
  margin-top: 5px;
  background: green;
  border-radius: 6px;
  width: 100%;
  padding: 10px 2px;
  box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.5); }

